<!DOCTYPE html>
<html lang="en">



    <%- include('layouts/header'); -%>


    <body>
        <!-- Navigation-->
        
        <%- include('layouts/navbar'); -%>


        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
         <h1>404 Page Not Found </h1>
        </header>
        
        <!-- Footer-->

        <%- include('layouts/footer'); -%>

        <!--Scripts-->

        <%- include('layouts/scripts'); -%>

    </body>
</html>
